In [ ]:
dictionary = {'a': ['bunny','sunny','ravi'], 'b':['apple', 'mango','gova']}

In [ ]:
type(dictionary)

dict

In [ ]:
# creating class variable human age
class human:
    name = None
    age = None
    def get_name(self):
      print('enter your name')
      self.name = input()
    def get_age(self):
      print('enter your age')
      self.age = input()
    def put_name(self):
       print('your name is', self.name)
    def put_age(self):
       print('your age is ', self.age)
person = human()

In [ ]:
person.get_name()

enter your name
GOPI

In [ ]:
person.get_age()

enter your age
25

In [ ]:
person.put_name(), person.put_age()

your name is GOPI
your age is  25

(None, None)

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5,6])
a

array([1, 2, 3, 4, 5, 6])

In [ ]:
b = np.array([[1,2,3,4,5,6],[1,2,3,4,5,6]])
b

array([[1, 2, 3, 4, 5, 6],
       [1, 2, 3, 4, 5, 6]])

In [ ]:
c = np.zeros((3,2))
c

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [ ]:
np.sum((a,b), axis=0)

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

array([[ 2,  4,  6,  8, 10, 12],
       [ 2,  4,  6,  8, 10, 12]])

In [ ]:
## creating data frame from list
import pandas as pd
list = [1,2,3,4,5,6]
data = pd.DataFrame(list)
data

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [ ]:
data1 = pd.DataFrame(dictionary)
data1

       a      b
0  bunny  apple
1  sunny  mango
2   ravi   gova

In [ ]:
dist1 = {'d':('ravi', 'murali'),'p':('siva','suma')}
type(dist1)

dict

In [ ]:
t1 = {1,2,3,4,5,7,7,9}
type(t1)

set

In [ ]:
### fibonaki generator 
def fib_gen():
  a =0
  b =1
  while  True:
    c = a
    a = b
    c = c+a
    yield c


f = fib_gen()
for i in range(20):
  print(next(f),end='')

12222222222222222222

In [ ]:
print('        /' )
print('       /  ' )
print('      /    ' )
print('     /      ' )
print('    /        ' )
print('   /___________' )

        /
       /
      /
     /
    /
   /___________

In [ ]:
# creating variables
name = 6
frinds = 'twonty'
age = 55

print( name,'is good guy')
print('he has a',frinds, 'frinds')
print('age of each one is aproxmitly',age)
print('they all are fight each other every time so may peoples are complaint')

6 is good guy
he has a twonty frinds
age of each one is aproxmitly 55
they all are fight each other every time so may peoples are complaint

In [ ]:
sam = 'solution \naccount'
print(sam.upper())

SOLUTION
ACCOUNT

In [ ]:
print(sam[0])

s

In [ ]:
print(sam.replace('solution', 'prime'))

prime
account

In [ ]:
int1 = input('enter numbe')
int2 = input('entr numbr')
result = int(int1) + int(int2)
print(result)

enter numbe20
entr numbr22
42

In [ ]:
## creating general calculator using if elis statement 

num1 = float(input('Enter First number:'))
op = input('enter operator:')
num2 = float(input('enter second number:'))

if op == '+':
  print(num1 + num2)
elif op == '-':
  print(num1 - num2)
elif op == '/':
  print(num1/num2)
elif op == '*':
  print(num1 * num2) 
else:
  print('invalied operater')

Enter First number:10
enter operator:*
enter second number:10
100.0

In [ ]:
## creating general calculator using if elis statement 

num1 = float(input('Enter First number:'))
op = input('enter operator:')
num2 = float(input('enter second number:'))

if op == '+':
  print(num1 + num2)
elif op == '-':
  print(num1 - num2)
elif op == '/':
  print(num1/num2)
elif op == '*':
  print(num1 * num2) 
else:
  print('invalied operater')

Enter First number:46
enter operator:=
enter second number:34
invalied operater

In [ ]:
##boolean expression using if else
is_male= True
is_tall = False
is_black = True

if is_male and is_tall:
  print('your a tall mail')
elif is_male == False and is_tall:
  print('your not a male but your tall')
elif is_male and not (is_tall):
  print('your male but your not tall')
else:
  print('your not a male and tall')

your male but your not tall

In [ ]:
## comparing statement
def max_num(num1, num2, num3, num4):
  if num1 >= num2 and num1 >= num3 and num1 >= num4:
    return num1
  elif num2 >= num1 and num2 >= num3 and num2 >= num4:
    return num2
  elif num3 >= num1 and num3 >= num2 and num3 >= num4:
    return num3
  else:
    return num4

max_num( 12,451,34,67)

451

In [ ]:
num1 = input('please enter num1:')
num2 = input('please enter num2:')
num3 = input('please enter num3:')

if num1 >= num2 and num1 >= num3:
  print('num1 is hight', num1)
elif num2 >= num1 and num2 >= num3:
  print('num2 is high',num2)  
else:
  print('num3 is high', num3)

please enter num1:96
please enter num2:66
please enter num3:77
num1 is hight 96

In [ ]:
## working with while loop

i = 1
while i<= 9:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9

In [ ]:
### USING while create a guess game

my_word = 'krishna'
guess = ''

while guess != my_word:
  guess = input('Enter secret word: ')
  if guess != my_word:
    print('you failed please try again.!')
 
print('you win.!')

Enter secret word: hoi
you failed
Enter secret word: hufr
you failed
Enter secret word: krishna
you win.!

In [ ]:
## guess game advanced one
my_word = 'krishna'
guess = ''
guess_count = 0
guess_limit = 2

out_of_guesses = False

while guess != my_word and not (out_of_guesses):
  if guess_count <= guess_limit:
    print('you have guesses')
    guess = input('Enter secret word: ')
    guess_count += 1
    
  else:
    out_of_guesses =True
   
if out_of_guesses:
  print('there is no guesses')
else:
  print('you win.!')

you have guesses
Enter secret word: kfjyi
you have guesses
Enter secret word: jduth
you have guesses
Enter secret word: krishna
you win.!

In [ ]:
# creating guesss number
my_number = '1234'
guess = ''
while guess != my_number:
  guess = input('enter guess number:')

print('you won')

enter guess number:33
enter guess number:1234
you won

In [ ]:
list = ['apple', 'orange', 'banana','past', 'drink', 'monkey']

for x in list:
  print(x)

apple
orange
banana
past
drink
monkey

In [ ]:
for x in list:
  print(x)
  if x == 'past':
    break

apple
orange
banana
past

In [ ]:
for x in list:
  if x == 'banana':
    break
  print(x)

apple
orange

In [ ]:
for x in list:
  if x == "banana":
    continue
  print(x)

apple
orange
past
drink
monkey

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
###function
def my_function():
  print('this is not so easy')

my_function()

this is not so easy

In [ ]:
def details(name, mail, number):
  print('full name is', name)
  print('gmail id is ', mail)
  print('contact number is ',number)

  
details('gopi', 'konetigopi61@gmail.com', '0899722802')

full name is gopi
gmail id is  konetigopi61@gmail.com
contact number is  0899722802

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_food( food):
  for x in food:
    print(x)
my_food(list)

apple
orange
banana
past
drink
monkey